	<div class="bg-sohbet">
		<h2 style="padding-left:10%">Чат с :{{title}}</h2>
    	<div  class="container" style="display: flex, align-items:flex, align-items:center">
            <div class="container">
           {{#each chatRows}}
                <div class="{{type}}" style="padding:10px">
                    {{text}}
                    <br>
                    <div class="chat-date">{{date}}</div> 
                </div>
                <br>
           {{/each}}
            </div>
<br>
<br>
   <form action="/send_sms" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Сообщение</label>
			<input type="text" name="tel"  hidden name="tel" value="{{tel}}"/>
            <input type="text" name="msg" class=""  placeholder="Привет!" style="width:50%"/>
            <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>  
</div>
		</div>
</div>
<style>
.chat-date {
    color:beige;
    font-size: 10px;
}
.incoming {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    height: 20%;
    width: 50%;
}

.incoming:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
.outgoing-logo {
    
    
}
.outgoing {
    text-align: end;
	position: relative;
	background: #ff7a5e;
	border-radius: .4em;
        height: 20%;
    width: 50%;
}

.outgoing:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ff7a5e;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
</style>
