<div class="container">
<h1>{{title}}</h1>
<form action="/send_multiple/csv" method="POST" enctype="multipart/form-data">
<br>
<br>
Сообщение:
<br>
<textarea cols="70" rows="6" type="tel" name="message" placeholder="Привет!"></textarea>
<br>
<br>
Выберите CSV файл с номерами
<br>
  <input class="btn btn-secondary" type="file" name="csv"> 
  <br>
  <input class="btn btn-primary" type="submit" value="Отправить">
</form>
</div>