<h1>{{title}}</h1>
<div style='
  width: 100%;
  height: 100%;
  overflow: auto;'>
    
  <table class="table">
{{!-- <table style='font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    heigth:null;
    table-layout: fixed; 
    background: rgb(230, 233, 241);'> --}}
<thead >

    <th> От кого </th>
    <th> На линию </th>
    <th> Сообщение </th>
    <th> Дата </th>
    <th> Действия </th>
</thead>
<tbody>

{{#each delivrdSMS}}
<tr>

<td style="width: 1%"><a href="/chatroom/{{dlr_from}}"/>{{dlr_from}}</td>
<td style="width: 1%">{{dlr_to}}</td>
<td style="width: 40%;overflow-x: hidden;">{{dlr_message}}</td>
<td style="width: 10%;overflow-x: hidden;">{{beatydate created_at}}</td>
<td style="width: 1%"></td>
</tr>
{{/each}}
</tbody>
</table>
<br>
<br>
</div>