
    
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-3">Главная</h1>
     <div class="container">
    <p><h3>Приборная доска(в данный момент - декорация)</h3>
    <br>
    <strong>Активных линий:</strong> {{getlinenum}}
    <br>
     <strong>В работе задач: </strong> 9999 смс
    <br>
     <strong>Примерно время выполнения: </strong> 10000 секунд
     <br>
     <strong>Баланс на линию:</strong> 1000 р
     <br>
     <strong>Средняя нагрузка на линию: </strong> 2000 человек
     <br>
     <strong>Ограничение смс в сутки на линию:</strong> 800 смс
    </p>
    
    </div>
  </div>
</div>
    <br>
<div class="container">
<h3 class="display-3">Информация</h3>
</div>
<div class="container">
<h3 class="display-3">Процесс</h3>
</div>