<style type="text/css" media="all">


</style>
<div class="container">
<h1 style='font-family: "FuturaRounded";'>{{title}}</h1>
<table class="table">
<thead >
    <th>#</th>
    <th> номер </th>
    <th> сообщение </th>
    <th> канал </th>
    <th> ошибки </th>
    <th> отправлено </th>
    <th> статус сообщения </th>
    <th> статус обновлен </th>
</thead>
<tbody>
{{#each reports}}
<tr>
<td>{{id}}</td>
<td>{{phone}}</td>
<td>{{text}}</td>
<td>{{channel}}</td>
<td>{{error}}</td>
<td>{{sended}}</td>
<td>{{status}}</td>
<td>{{beatydate update_date}}</td>
</tr>    
{{/each}}
</tbody>
</table>

</div>
