<div class="container">
<h1>Создать рассылку</h1>
<form action="/send_multiple" method="POST">
    <br>
    <br><br>
    <label>Номера телефонов </label><br><textarea cols="80" rows="6" type="tel" name="numbers" placeholder="89140011122;89148882233" name="Номер телефона"></textarea>
    <br><br>
    <label>Текст</label><br><textarea type="text" cols="80" name="msg" placeholder="Привет!"></textarea>
    <br>
    <input class="btn btn-primary" type="submit" value="Отправить" />
</form>
<br>
<p>
    *Разделитель номеров - точка с запятой.
</p>
</div>