<div class="container">
<h1>{{title}}</h1>



<form action="/send_sms" method="POST">
    <div class="form-group">    <br>
    
    <label for="tel">Отправить смс</label>
    <br><br>
    <label>Номер телефона </label><br><input type="tel" name="tel" placeholder="89140011122" name="Номер телефона"/>
    <br><br>
    <label>Текст</label><br><input type="text" name="msg"/>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Отправить" />
    </div>

</form>
</div>