
<h1>{{title}}</h1>
<br><br>
<p>Примерное время отправки всех смс: {{timeBeforeExec}} секунд</p>
<p>СМС всего: {{all}}</p>
<p>СМС отправленных: {{sended}}</p>
<p>Из них доставленных: {{delivered}}</p>
<br>
<h3>Дополнительно:</h3>
<a href="/sessions/{{id}}/resend_nodlr">Отправить недоставленные смс повторно</a>
<br>
<a href="/sessions/{{id}}/undelivered">Список недоставленных</a>
<br>
Список всех смс

