<h1>{{title}}</h1>
<div style='
  width: 100%;
  height: 100%;
  overflow: auto;'>
  <table class="table">
{{!-- <table style='font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    heigth:null;
    table-layout: fixed; 
    background: rgb(230, 233, 241);'> --}}
<thead >
    <th style="width: 3%">#</th>
    <th style="width: 3%"> текст сообщения </th>
    <th style="width: 3%"> дата создания </th>
    <th style="width: 3%"> дополнительная информация </th>
</thead>
<tbody>
{{#each sessions}}
<tr>
<td style="width: 3%">{{id}}</td>
<td style="width: 40%;overflow-x: hidden;">{{msg}}</td>
<td style="width: 10%;overflow-x: hidden;">  {{beatydate date}}  </td>
<td><a href="/sessions/{{id}}">Статистика</a></td>
</tr>    
{{/each}}
</tbody>

</table>
</div>