<h2>{{title}}</h2>
<br><br>
<div style='
  width: 100%;
  height: 100%;
  overflow: auto;'>
  <table class="table">
<thead >
    <th style="width: 3%">#</th>
    <th style="width: 3%"> номер </th>
    <th style="width: 3%"> текст сообщения </th>
    <th style="width: 3%"> ошибка </th>
    <th style="width: 3%"> код ошибки </th>
    <th style="width: 3%"> дата создания </th>
    <th style="width: 3%"> дата отчета </th>
</thead>
<tbody>
{{#each undeliveredMessages}}
<tr>
<td style="width: 3%">{{id}}</td>
<td style="width: 10%;overflow-x: hidden;">  {{phone}}  </td>
<td style="width: 40%;overflow-x: hidden;">{{text}}</td>
<td style="width: 3%">{{status}}</td>
<td style="width: 3%">{{error}}</td>
<td style="width: 10%;overflow-x: hidden;">  {{beatydate date}}  </td>
<td style="width: 10%;overflow-x: hidden;">  {{beatydate update_date}}  </td>

</tr>   
{{/each}}
</tbody>

</table>
</div>