
    {{!-- <nav style="width:100%, position:fixed;background-color:#ed3f43;color:black" > --}}
        <nav class="navbar navbar-dark bg-faded navbar-fixed-top navbar-full" style="background-color: #e3f2fd;">
             <a class="navbar-brand" href="/">Привет, %username%!</a>
      
        <ul class="nav navbar-nav">
            {{!-- <li class="nav-item"><a href="/" > Главная </a></li> --}}
            <li class="nav-item"><a href="/" > Главная </a></li>
            <li class="nav-item"><a href="/delivrd_sms" > Полученные смс </a></li>
            <li class="nav-item"><a href="/reports" >Отчеты </a></li>
            <li class="nav-item"><a href="/send_sms" >Отправить смс </a></li>
            <li class="nav-item"><a href="/send_multiple" >Создать рассылку </a></li>
            <li class="nav-item"><a href="/send_multiple/csv" >Рассылка из CSV файла </a></li>
        </ul>
        <form class="form-inline pull-xs-right">  
              
        </form>

        </div>
    </nav>
    <br>
    <br>
    <br>
